<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header.html :: head"/>
<body>
<div th:replace="fragments/header.html :: header (${category})"/>
<div class="row">
  <div class="offset-3 col-6">
    <from class="form-group" th:object="${boardDto}" th:method="post"
          th:action="|@{/boards/{category}/{boardId}/edit (category = ${category}, boardId=${boardDto.id})}|" enctype="multipart/from-data">
      <div style="float: right;" align="right">
        <div th:text="'작성일 : ' + ${#temporals.format(boardDto.createdAt, 'yy/MM/dd HH:mm')}"></div>
        <div th:text="'최근 수정일 : ' + ${#temporals.format(boardDto.lastModifiedAt, 'yy/MM/dd HH:mm')}"></div>
        <br/>
        <div sec:authorize="isAuthenticated()">
          <div th:if="${likeCheck == false}" style="font-size: large">
            <button class="btn icon-btn" type="button"
                  th:onclick="|location.href='@{/likes/add/{boardId} (boardId=${boardDto.id})}'">
              <img class="small-img" src="/images/empty-hearts.svg">
            </button>[[${boardDto.likeCnt}]]
          </div>
          <div th:unless="${likeCheck == false}" style="font-size: large">
            <button class="btn icon-btn" type="button"
                  onclick="deleteLike()">
              <img class="small-img" src="/images/fill-hearts.svg">
            </button>[[${boardDto.likeCnt}]]
          </div>
        </div>
        <div sec:authorize="isAnonymous()">
          <div style="font-size: large">
            <button class="btn icon-btn" type="button"
                      onclick="askLogin()">
              <img class="small-img" src="/images/empty-hearts.svg">
            </button>[[${boardDto.likeCnt}]]
          </div>
        </div>
      </div>
      <div th:text="'작성자 : ' + *{userNickname}" style="font-size: large"></div>
      <br/>
      <div>
        <label th:for="title" style="font-size: large">제목 :</label>
        <input type="text" th:field="*{title}" style="width: 50%" readonly>
      </div>
      <br/>
      <div>
        <label th:for="body" style="font-size: large">내용 :</label>
        <textarea rows="10" style="width: 100%;" th:field="*{body}" readonly />
      </div>
      <br/>
      <div id="image-div2" hidden>
        <label th:for="newImage">이미지 첨부 : </label>
        <input type="file" th:field="*{newImage}" style="width: 50%">
        <br/>
      </div>
      <div th:if="${boardDto.uploadImage != null}" id="image-div1">
        이미지 : <a  th:href="|/boards/images/download/${boardDto.id}|" th:text="${boardDto.uploadImage.originalFilename}" /><br/>
        <img th:src="|/boards/images/${boardDto.uploadImage.savedFilename}|"
              width="200px" height="200px" style="border-color: black; border-style: solid; border-width: thin;"/>
      </div>
      <br/>
      <div id="div2" align="center" hidden>
        <button class="btn edit-btn" type="submit">수정 완료</button>
      </div>
    </from>
    <div id="div1" th:if="${loginUserLoginId == boardDto.userLoginId}" align="center">
      <button class="btn edit-btn" onclick="clickEdit()">수정</button>
      <button th:if="${category != 'greeting'}" class="btn del-btn" onclick="clickDelete()">삭제</button>
    </div>
    <div th:unless="${loginUserLoginId == boardDto.userLoginId}" sec:authorize="hasAuthority('ADMIN')" align="center">
      <button th:if="${category != 'greeting'}" class="btn del-btn" onclick="clickDelete()">삭제</button>
    </div>
    <br/><hr/>
    <from class="form-group" th:object="${commentCreateRequest}" th:method="post" th:action="|@{/comments/{boardId} }|">

    </from>
  </div>
</div>
</body>
</html>